{% block footer %}

<div class="footer container-fluid" id="footer">
	<hr>
	<div class="row footer-body align-content-center">
		<div class="col-md-6 text-center">
			<b class="footer-title"
			   style="margin-top: 20px;">Powerd by</b><a class="powered">GOAngular</a>
		</div>
		<div class="col-md-6 text-center">
			<b class="footer-title">Quick Links</b>
			<a class="links">Terms & Conditions</a>
			<a class="links">Privacy Policy</a>
			<a class="links">Refund Policy</a>
		</div>
	</div>
	<div class="contact-us text-center">
		<b class="footer-contact">Contact Us</b>
		<p style="margin-bottom: 0px;">Contact us and we will get back to you within 24 hours.</p>
		<p>contact@projectforvtu.com</p>
	</div>
	<div class="row d-flex justify-content-center copyright">© 2020 Copyright: <a class="powered">GOAngular</a></div>
</div>

{% endblock %}